errorShots/
icompass.iml #Windows
.DS_Store
.idea/
node_modules/
package-lock.json
docker/prod.yml
build/

bundle.js
bundle.js.map
bundle.js.gz
main.css
main.css.map

backend/website-dist/*.js

.ctagsignore
tags
mocha.opts
reports/
bin/selenium.jar
selenium-debug.log
screenshots/
reports
screenshots
