.DS_Store
.idea/
node_modules/

bundle.js
bundle.js.map
bundle.js.gz
main.css
main.css.map

.ctagsignore
tags
mocha.opts
reports/
bin/selenium.jar
selenium-debug.log
screenshots/
reports
screenshots
runner.sh
