@import "reset.less";
@import "compass.less";
@import "sidebar.less";
@import "noteform.less";
@import "landing.less";
@import "helpscreen.less";
@import "explanation.less";
@import "chat.less";

@defaultFont:'Dosis', sans-serif;
@stickySize:120px;
@dark:#343434;
@light:#EDEDED;
@blue:#0067E0;
@red:#C21A03;

.wordwrap {
    white-space: pre-wrap;          // CSS3
    white-space: -moz-pre-wrap;     // Firefox
    white-space: -pre-wrap;         // Opera <7
    white-space: -o-pre-wrap;       // Opera 7
    word-wrap: break-word;          // IE
}

// utility funcs
.tilt (@x) {
    -webkit-transform:rotate(@x);
    -o-transform:rotate(@x);
    -moz-transform:rotate(@x);
}

.boxshadow (@offset, @spread, @rgba) {
    -moz-box-shadow:@offset @offset @spread @rgba;
    -webkit-box-shadow:@offset @offset @spread @rgba;
    box-shadow:@offset @offset @spread @rgba;
}

.scale (@s) {
    -webkit-transform:scale(@s);
    -moz-transform:scale(@s);
    -o-transform:scale(@s);
}

.hasTransition (@s) {
    -moz-transition:@s all ease-in-out;
    -o-transition:@s all ease-in-out;
    -webkit-transition:@s all ease-in-out;
    transition:@s all ease-in-out;
}

.hidden {
    display:none;
}

body {
    font-family:@defaultFont;
}

button, input {
    margin:0;
    padding:0;
    border:none;
    cursor:pointer;
    font-family:@defaultFont;
}

button:focus {
    outline:none;
}

a, u {
	text-decoration:none !important;
}

textarea:focus {
    outline:none;
}

button.ic-button {
    width:130px;
    margin:10px 5px;
    height:30px;
    font-size:14px;
    color:@light;
    background:@dark;
    .hasTransition(0.5s);
    border:1px solid @dark;
}

button.ic-button:hover {
    color:@dark;
    background:@light;
}

button.ic-close-window {
    position:absolute;
    background:transparent;
    letter-spacing:15px;
    top:0;
    right:0;
    font-size:25px;
    cursor:pointer;
    color:@light;
}

div.ic-modal {
    position:absolute;
    z-index:2;
    background:@light;
    text-align:center;
}

