div#ic-landing-container {
    position:absolute;
    overflow:scroll;
    height:100vh;
    left:200px;
}

div#ic-landing {
    position:absolute;
    text-align:center;
    z-index:0;
    width:100%;
    margin-top:50px;

    #ic-tour {
        margin-bottom:20px;
    }

    .section {
        margin-bottom:20px;
        font-size:20px;

        h1 {
            font-size: 25px;
            margin-bottom:20px;
        }

        .prompt {
            font-size:17px;
            display:inline-block;
            width:40%;
            text-align:right;
            height:40px;
        }

        .response {
            display:inline-block;
            width:50%;
            text-align:left;
            height:40px;

            input {
                border-bottom:2px solid @dark;
                margin-left:20px;
                font-size:20px;
            }
        }

        #error-message {
            font-family:monospace;
            font-size:15px;
            font-weight:bold;
            color:@red;
            height:30px;
            line-height:30px;
        }
    }

    .third {
        h1 {
            font-size:60px;
            letter-spacing:2px;
            font-weight:bold;
        }

        input {
            width:40%;
            margin-left:30%;
            color:@blue;
            height:30px;
            border-bottom:2px solid @dark;
            font-size:20px;
            display:block;
            text-align:center;
        }

        h2 {
            font-size:20px;
        }
    }
}

