#ic-menu {
    position:absolute;
    .hasTransition(0.5s);
    width:200px;
    background:@dark;
    color:white;
    height:100vh;
    z-index:2;

    div#ic-menu-contents {
        margin:20px;
        margin-top:40px;

        h1 {
            font-size:40px;
            font-weight:700em;
        }

        p#ic-menu-share {
            color:@blue;
            cursor:pointer;
        }

        div#ic-menu-credits {
            position:absolute;
            bottom:20px;

            p {
                height:20px;

                a {
                    color:@blue;
                }
            }
        }

        div.ic-menu-list {
            margin-top:40px;

            h2 {
                font-size:18px;
                text-decoration:underline;
            }

            p {
                margin:10px 0;

                span {
                    font-size:12px;
                    border-radius:20%;
                    margin-right:10px;
                    white-space:pre;
                }

                span.ic-control-key {
                    font-family:monospace;
                    background:@light;
                    color:@dark;
                    padding:0 4px;
                    font-size:15px;
                }
            }
        }
    }
}

