div#ic-bookmarks {
  background: rgba(50, 50, 50, 0.8);
  height: 100vh;
  width: 200px;
  position: fixed;
  color: white;
  z-index: @bookmarkZIndex;
  .hasTransition(0.3s);

  div#bookmark-button {
    position: fixed;
    top: 20px;
    left: 0;
    background: inherit;
    cursor: pointer;
    width: 50px;
    height: 50px;
    .hasTransition(0.3s);

    i {
      line-height: 50px;
      font-size: 30px;
      margin-left: 10px;
      color: @yellow;
    }
  }

  div#contents {
    margin: 20px;
    font-family: @notosans;

    h1 {
      font-size: 30px;
      margin: 30px 0;
      color: @light;
    }

    div.ic-saved {
      margin: 10px 0;
      width: 140px;
      padding: 10px;
      background: #222;
      cursor: pointer;

      a {
        word-wrap: break-word;
        display: inline-block;
        max-width: 125px;
      }

      span#arrow {
        float: right;
        font-size: 10px;
        margin-top: 3px;
      }

      div.ic-saved-info {
        height: 20px;
        overflow: hidden;
        .hasTransition(0.2s);

        p {
          font-size: 12px;
          display: inline-block;
        }

        button {
          float: right;
          font-weight: bold;
          padding: 0 5px;
          height: 100%;
          color: white;
        }

        button.remove {
          background: @red;
        }

        button.edit {
          color: black;
        }
      }
    }

  }

  div#ic-bookmark-footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 10px;
    padding: 0 20px;
    font-family: @notosans;
    box-sizing: border-box;

    button {
      float: left;
      width: 70px;
      background: @light;
      color: @dark;
      line-height: 30px;
      height: 30px;
      font-size: 15px;
      border-radius: 3px;
    }

    button#export {
      float: right;
    }
  }
}
