img.ic-background {
  position: absolute;
  top: 0;
  left: 0;
}

div#ic-landing {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

div#ic-landing-container {
  font-family: @notosans;
  position: absolute;
  color: white;
  margin-left: 20vw;

  div#message {
    width: 700px;

    h1 {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 35px;
      line-height: 45px;
    }
  }

  div#get-started-form {
    margin-top: 30px;
    color: white;

    input {
      margin: 5px 0 10px;
      background-color: rgba(50, 50, 50, 0.4);
      padding: 10px;
      font-size: 15px;
      width: 300px;
      font-family: inherit;
      color: inherit;
      .border-radius(5px);
    }

    button[type=submit] {
      color: inherit;
      font-size: 15px;
      font-family: inherit;
      margin-top: 30px;
      padding: 10px 10px 10px 15px;
      text-align: left;
      width: 150px;
      background-color: rgba(40, 138, 255, 0.8);
      .hasTransition(0.3s);
      .border-radius(0);

      i {
        float: right;
        margin-top: -2px;
        margin-right: 10px;
      }
    }

    button#user-submit:hover {
      width: 200px;
      background-color: rgba(40, 138, 255, 1);
    }
  }

  a.ic-guide {
    margin-top: 50px;
    color: white;
    display: block;
  }

  div.ic-show-privacy-statement {
    margin-top: 20px;
    cursor: pointer;
    font-size: 13px;
  }
}
