
div#ic-modal-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: @modalZIndex;

  div#ic-backdrop {
    // force modal on top of backdrop
    z-index: -1;
  }

  div#ic-modal-image {
    text-align: center;
    margin: 100px auto 0;
    width: fit-content;

    img {
      min-width: 200px;
      max-width: 80vw;
      max-height: 80vh;
    }
  }

  div#ic-modal {
    width: 350px;
    padding: 10px 20px;
    background: var(--modal-bg);
    margin: 100px auto 0;
    .border-radius(2px);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    font-family: @notosans;

    div#ic-modal-body {
      font-size: 19px;
      text-align: left;
      padding: 10px 0;
      margin-top: 10px;

      a {
        color: @blue !important;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      p, span {
        margin-top: 10px;
        font-size: 13px;
        line-height: 15px;
      }

      input {
        border: 1px solid grey;
        width: 93%;
        font-size: 15px;
        margin-top: 15px;
        .border-radius(2px);
        padding: 5px 10px;
      }

      input#ic-modal-input {
        cursor: text;
      }

      div.ic-always {
        margin-top: 7px;

        input[type="checkbox"] {
          height: 15px;
          width: 20px;
        }
      }

      a {
        color: inherit;
      }
    }

    div#ic-modal-footer {
      height: 30px;
      margin-top: 15px;

      button {
        float: right;
        height: 28px;
        font-size: 12px;
        margin-left: 10px;
        padding: 0 10px;
        font-family: inherit;
        .border-radius(2px);
      }

      button#ic-modal-confirm {
        background: @dark;
        color: @light;
      }

      button#ic-modal-cancel {
        background: none;
        color: @dark;
        border: 1px solid @dark;
      }

      button.danger {
        background: @red !important;
      }

      button.confirm {
        background: @blue !important;
      }
    }
  }
}

div.ic-dynamic-modal {
  background: var(--modal-bg);
  position: absolute;
  font-family: @notosans;
  width: 400px;

  div.contents {
    margin: 25px 25px 30px !important;

    div.header {
      h1.title {
        width: 100% !important;
        font-size: 15px;
      }

      button.ic-close-window {
        color: #343434;
        top: 15px;
        right: 11px;
        font-family: inherit;
        font-weight: bold;
      }
    }
  }
}

div.ic-share {
  div.ic-share-link {
    text-align: left;
    margin: 22px 0 15px;
    font-size: 13px;

    div.share-box {
      width: 100%;
      height: 30px;
      display: block !important;

      input {
        margin: 3px 0;
        width: 80%;
        border: 1px solid #ddd;
        padding: 7px 5px;
        color: #888;
        font-size: 11px;
        font-family: inherit;
        display: inline-block;
        .border-box;
      }

      button {
        background: @dark;
        color: @light;
        width: 50px;
        height: 29px;
        font-family: inherit;
      }
    }
  }

  div.actions {
    margin-top: 30px;
    text-align: left;
    display: block !important;

    button {
      margin-right: 5px;
      background: #1a97f1;
      color: @light;
      padding: 5px 10px;
      font-size: 12px;
      font-family: inherit;
    }

    button[name=png] {
      background: @dark;
    }
  }
}

div.ic-gdoc {
  div.warning {
    .border-box;
    background: #FEF5CF;
    border-left: 4px solid #F9C300;
    color: black;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 13px;
  }

  div.copy-to-clipboard {
    margin-top: 20px;

    button {
      padding: 5px 10px;
      background: #5285ec;
      color: white;
      font-family: inherit;
      font-size: 14px;
    }
  }

  div#doc-preview {
    // Default font in GDoc
    font-family: 'Arial', sans-serif;
    height: 400px;
    background: white;
    color: black;
    overflow: scroll;
    font-size: 14px;
    padding: 20px;
    margin-top: 15px;
    border-radius: 2px;

    a {
      // match href color in GDoc
      color: #2958c6;
    }
  }
}

div.ic-screenshot {


  div#exported-png {
    margin-top: 15px;
    width: 100%;

    p {
      font-size: 12px;
    }

    canvas {
      margin-top: 10px;
      max-width: 100%;
      height: auto !important;
    }
  }
}