
div#ic-modal-container, div#ic-modal-container2 {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: @modalZIndex;

  div#ic-backdrop {
    // force modal on top of backdrop
    z-index: -1;
  }

  div#ic-backdrop2 {
    z-index: -1;
    background: var(--backdrop);
  }


  div#ic-modal-scroller {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    padding: 15vh 0;
    .border-box;
    display: flex;
    justify-content: center;
  }

  div#ic-modal {
    width: 400px;
    padding: 15px 20px;
    background: var(--modal-bg);
    .border-radius(2px);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    font-family: @notosans;
    height: fit-content;
    height: -moz-fit-content;

    div.ic-dynamic-modal .title {
      font-size: 19px;
      text-align: left;
      padding: 10px 0;
      margin-top: 10px;

      a {
        color: @blue !important;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      // meant for subheadings. see alertCompassPrompt
      h4 {
        font-size: 15px;
        text-decoration: underline;
        margin-top: 30px;
      }

      p, span, ol, ul {
        margin-top: 25px;
        font-size: 14px;
        line-height: 18px;
      }

      input {
        border: 1px solid grey;
        width: 93%;
        font-size: 15px;
        margin-top: 15px;
        .border-radius(2px);
        padding: 5px 10px;
      }

      a {
        color: inherit;
      }
    }

    div#ic-modal-footer {
      height: 30px;
      margin-top: 15px;

      button {
        float: right;
        height: 28px;
        font-size: 12px;
        margin-left: 10px;
        padding: 0 10px;
        font-family: inherit;
        .border-radius(2px);
      }

      button#ic-modal-confirm {
        background: @dark;
        color: @light;
      }

      button#ic-modal-cancel {
        background: none;
        color: @dark;
        border: 1px solid @dark;
      }

      button.danger {
        background: @red !important;
      }

      button.confirm {
        background: @blue !important;
      }
    }
  }
}

div.ic-dynamic-modal {
  background: var(--modal-bg);
  font-family: @notosans;
  height: fit-content;
  height: -moz-fit-content;

  div#ic-modal-image {
    width: fit-content;
    margin: 0 auto;

    img {
      // Width of ImageModal minus 50px;
      max-width: 550px;
    }
  }

  div.contents {
    margin: 25px 25px 20px !important;

    div.header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1.title {
        width: 100% !important;
        font-size: 18px;
      }

      i {
        cursor: pointer;
      }
    }

    .body {
      font-size: 13px;
      line-height: 16px;
      margin-top: 20px;
    }

    h4 {
      margin-top: 30px;
      text-decoration: underline;
    }

    div.ic-always {
      margin-top: 15px;
      display: flex;

      input[type="checkbox"] {
        height: 15px;
        width: 20px;
        margin-right: 5px;
        margin-top: 1px;
      }
    }

    div.warning {
      .border-box;
      background: #FEF5CF;
      border-left: 4px solid #F9C300;
      color: black;
      margin-top: 15px;
      padding: 5px 10px;
      border-radius: 2px;
      font-size: 13px;
    }

    p {
      margin-top: 15px;

      &:first-child {
        margin-top: 0 !important;
      }
    }

    input#ic-modal-input {
      cursor: text;
      border: 1px solid grey;
      width: 93%;
      font-size: 15px;
      margin-top: 15px;
      .border-radius(2px);
      padding: 5px 10px;
    }

    .footer {
      height: 30px;
      margin-top: 15px;

      button {
        float: right;
        height: 28px;
        font-size: 12px;
        margin-left: 10px;
        padding: 0 10px;
        font-family: inherit;
        .border-radius(2px);
      }

      button#ic-modal-confirm {
        background: @dark;
        color: @light;
      }

      button#ic-modal-cancel {
        background: none;
        color: @dark;
        border: 1px solid @dark;
      }

      button.danger {
        background: @red !important;
      }

      button.confirm {
        background: @blue !important;
      }
    }
  }

  &.ic-screenshot {
    width: 800px;
  }
}

div.ic-share {
  div.ic-share-link {
    text-align: left;
    margin: 22px 0 15px;
    font-size: 13px;

    div.share-box {
      width: 100%;
      height: 30px;
      display: block !important;

      input {
        margin: 3px 0;
        width: 80%;
        border: 1px solid #ddd;
        padding: 7px 5px;
        color: #888;
        font-size: 11px;
        font-family: inherit;
        display: inline-block;
        .border-box;
      }

      button {
        background: @dark;
        color: @light;
        width: 50px;
        height: 29px;
        font-family: inherit;
      }
    }
  }

  div.actions {
    margin-top: 30px;
    text-align: left;
    display: block !important;

    button {
      margin-right: 5px;
      background: #1a97f1;
      color: @light;
      padding: 5px 10px;
      font-size: 12px;
      font-family: inherit;
    }

    button[name=png], button[name=make-copy] {
      background: @dark;
    }
  }
}

div.ic-modal-make-copy {
  .make-a-copy-explanation {
    font-size: 13px;
    margin-top: 20px;
    line-height: 16px;
  }

  button[name=make-copy] {
    margin-top: 20px;
    margin-right: 5px;
    color: @light;
    padding: 5px 10px;
    font-size: 12px;
    font-family: inherit;
    background: @dark;
  }
}

div.ic-gdoc {
  div.copy-to-clipboard {
    margin-top: 20px;
    display: flex;
    justify-content: right;

    button {
      padding: 5px 10px;
      background: @dark;
      color: @light;
      font-family: inherit;
      font-size: 14px;
    }
  }

  div#doc-preview {
    height: 400px;
    background: white;
    color: black;
    overflow: auto;
    padding: 20px;
    margin-top: 15px;
    border-radius: 2px;
    border: 1px solid grey;

    a {
      // match href color in GDoc
      color: #2958c6;
    }
  }
}

div.ic-screenshot {
  div#exported-png {
    margin-top: 15px;
    width: 100%;

    p {
      font-size: 12px;
    }

    canvas {
      margin-top: 10px;
      max-width: 100%;
      height: auto !important;
    }
  }
}

div.ic-feedback {
  input, textarea {
    border: 1px solid grey;
    width: 100% !important;
    padding: 6px 10px;
    .border-box;
    font-family: inherit;
    .border-radius(2px);
    margin-top: 10px;
  }

  textarea.feedback-note {
    resize: none;
    margin-top: 10px;
    height: 120px;
  }

  div.send {
    height: 20px;
    margin-top: 10px;

    button {
      background: @dark;
      color: @light;
      width: 120px;
      height: 29px;
      font-family: inherit;
      float: right;
      font-size: 13px;
    }
  }
}
