.ic-form {
  position: absolute;
  background: var(--modal-bg);
  color: @dark;
  text-align: center;
  width: 350px;
  z-index: @formZIndex;
  .border-radius(4px);

  .contents {
    margin: 10px;

    .header {
      height: 30px;

      h1.title {
        height: 30px;
        line-height: 30px;
        text-align: left;
        float: left;
      }
    }
  }

  div.react-dropzone-s3-uploader {
    width: 325px !important;
    height: 70px !important;
    cursor: copy !important;
    margin-top: 10px;
    z-index: 2;

    img {
      display: none !important;
    }

    div.rdsu-filename {
      display: none !important;
    }
  }

  span#s3-uploader-status {
    line-height: 65px;
    color: gray;
    font-family: @notosans;
    position: absolute;
    top: 185px;
    left: 120px;
    z-index: 1; // lower than div.react-dropzone-s3-uploader
  }

  textarea {
    font-size: 18px;
    margin-top: 10px;
    width: 310px;
    padding: 10px;
    border: none;
    font-family: @dosis;
    resize: none;
  }

  div.note-form-footer {
    margin-top: 10px;
    height: 25px;

    button {
      float: right;
      font-size: 14px;
      padding: 5px;
    }

    button.switch-form {
      float: left;
      background: none;
      margin-right: 5px;

      i {
        font-size: 21px;
        line-height: 16px;
      }
    }

    button[name=nvm] {
      background: none;
    }

    button[name=draft] {
      background: none;
      border: 1px solid @dark;
      margin-left: 5px;
      width: 60px;
      padding: 4px;
      .border-box;
      .border-radius(3px);
    }

    button[name=ship] {
      background: @dark;
      color: var(--modal-bg);
      margin-left: 10px;
      width: 60px;
      .border-radius(3px);
    }
  }
}

div.ic-form-palette {
  margin-right: 5px;
  float: right;
  margin-top: 7px;
  font-family: @notosans;
  font-size: 13px;
  line-height: 16px;

  span.icon {
    padding: 3px 8px;
    cursor: pointer;
    font-weight: bold;
  }

  span.icon:hover {
    color: @blue;
  }

  div.ic-options {
    position: absolute;
    padding: 3px 5px;
    width: 130px;
    height: 26px;
    background: @dark;
    .border-box;

    span.ic-color {
      margin: 2px;
      border: none;
      float: left;
      height: 16px;
      width: 16px;
      cursor: pointer;
      .border-box;
    }

    span.ic-color:hover {
      border: 1px solid @dark;
    }
  }

  span.ic-palette-color {
    width: 11px;
    height: 11px;
    .border-radius(100%);
    border: 1px solid gray;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
  }
}

#ic-note-form {
  div#ic-toolbar {
    border: none !important;
    font-family: inherit !important;
    padding: 0 !important;
    margin-bottom: 20px;
  }

  div.ic-text-ibu {
    float: right;
    height: 30px;
    margin-top: 3px;

    button {
      margin: 0 2px;
      float: right;
      padding: 0;
      width: 22px;
    }

    svg {
      height: 18px;
    }

    .ql-picker-options {
      width: 132px;
      background: @dark;
      border: none;
    }
  }

  textarea#ic-form-text {
    height: 200px;
  }

  div.quill {
    margin-top: 5px;
    height: 200px;

    .ql-container {
      font-family: @dosis;
      font-size: 18px;
    }
  }
}

#ic-image-form {
  textarea#ic-form-text {
    height: 100px;
  }

  button#toggle-alt {
    float: right;
    height: 30px;
    width: 30px;
    font-family: @notosans;
    background: none;
    border: 1px solid @dark;
    color: @dark;
    .border-box;
    .border-radius(3px);
    font-size: 13px;
    margin-left: 5px;

    &.active {
      background: @dark;
      color: white;
    }
  }

  p#ic-alt-text-label {
    text-align: left;
    margin: 2px 0 10px;
    font-size: 10px;
    font-family: @notosans;
  }

  textarea#ic-image-alt-text {
    height: 50px;
  }

  div#alt-tooltip-div {
    width: 150px;
    padding: 10px 0;
    text-align: left;
    font-family: @notosans;
    font-size: 12px;
  }

  div.preview {
    border-top: 1px solid #BBB;
    text-align: center;
    margin: 10px 0 20px;
    padding-top: 5px;

    p {
      text-align: left;
      float: left;
    }

    span {
      float: right;

      i {
        font-size: 19px;
        color: @dark;
      }
    }

    div.ic-image-help {
      width: 230px;
      margin: 5px 0;
      font-family: @notosans;
      font-size: 12px;
      line-height: 15px;

      p {
        margin-top: 10px;
      }

      p:last-child {
        margin-bottom: 10px;
      }
    }

    img {
      max-width: 100%;
      max-height: 200px;
      margin-top: 10px;
    }
  }
}
