#ic-note-form {
  width: 300px;
  z-index: 3;

  h1 {
    width: 60%;
  }

  div.ic-text-ibu {
    float: right;
    width: 40%;
    height: 30px;

    button {
      height: 30px;
      width: 30px;
      margin: 0 2px;
      float: right;
      border-radius: 3px;
    }
  }

  textarea#ic-form-text {
    font-size: 18px;
    height: 200px;
    margin-top: 10px;
    width: 260px;
    padding: 10px;
    border: none;
    font-family: @dosis;
    resize: none;
  }

  div.note-form-footer {
    margin-top: 10px;
    height: 25px;

    button {
      float: right;
      font-size: 14px;
      padding: 5px;
    }

    button.switch-form {
      float: left;
      background: none;
      margin-right: 5px;

      i {
        font-size: 21px;
        line-height: 16px;
      }
    }

    button[name=nvm] {
      background: none;
      color: gray;
    }

    button[name=ship] {
      background: @dark;
      color: @light;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      .hasTransition(0.5);
      margin-left: 5px;
      width: 60px;
    }
  }
}

