#compass {
  div.ic-sticky-note {
    list-style: none;
    float: left;
    cursor: pointer;
    position: absolute;
    z-index: 0;

    button.ic-close-window {
      z-index: 1;
    }

    div.contents {
      text-decoration: none;
      color: black;
      display: block;
      max-width: 160px;
      letter-spacing: 0;
      .boxshadow(3px, 7px, rgba(33, 33, 33, 0.7));
      .wordwrap;

      p.text {
        padding: 8px;
        font-family: "Dosis", arial, sans-serif;
        font-size: 15px;
      }

      &.compact {
        letter-spacing: -1px;
        max-height: 70px;
        overflow: auto;
      }
    }

    p.ic-tooltip {
      position: absolute;
      color: @dark;
      background: @light;
      top: -6px;
      left: -5px;
      font-size: 10px;
      padding: 1px;
    }

    p.submit {
      background: lightgreen;
    }

    button {
      display: none;
      font-size: 15px;
      letter-spacing: 5px;
      color: @red;
    }
  }

  div.ic-sticky-note:hover button.ic-close-window {
    display: block;
  }
}
