name: build-production-image
on:
  push:
    branches:
    - github-actions
jobs:
  build-image:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '8.17.0'
    - run: npm install
    - run: ./node_modules/.bin/webpack --config config/webpack/prod.js
    - run: ./node_modules/.bin/webpack --config config/webpack/vendor.js
    - uses: docker/setup-qemu-action@v1
    - uses: docker/setup-buildx-action@v1
    - uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: docker/build-push-action@v2
      with:
        push: true
        context: .
        tags: |
          thecardkid/icompass:gh-${{ github.run_number }}
#          thecardkid/icompass:latest
      env:
        AWS_ACCESS_KEY_ID: AKIAJPWD7V6OQ3QKFUPA
        NODE_ENV: production
        GA_TRACKING_ID: ${{ secrets.GA_TRACKING_ID }}
